
.homeContainer {
    width: 100%;
  
}
.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 5px 0px 5px;
    border-radius: 5px;
    padding-bottom: 100px;
    min-height: 70vh;
   
    

}

.category {
    padding: 10px;
    margin: 10px;
}

.eventButtonContainer {
    width: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
   justify-content: center;
   align-items: center;
}

.eventButtons {
    padding: 10px;
    margin: auto;
    width: 100px;
}

.eventContainer {
    width: 400px;
    margin: auto;
    border: 6px solid red;
    border-radius: 20px;
    
}
