.home-image {
    width: 200px;
}



.cardContainer {

width: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    

}

.eventButtonContainer {
    width: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
   justify-content: center;
   align-items: center;
}

.eventButtons {
    padding: 10px;
    margin: auto;
    width: 100px;
}

.eventContainer {
    width: 400px;
    margin: auto;
    border: 6px solid red;
    border-radius: 20px;
    
}
