* {
    box-sizing: border-box;
    transition: ease all 1s;
    font-family: "Edu VIC WA NT Beginner", cursive;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        
}

html {
    background-color: #edf6f9;
}

.welcomeTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #edf6f9;
}

.welcomeTitle {
    padding: 20px;
    font-size: 2.8rem;
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
    animation: fadeinlong 2s;
    margin-bottom: 30px;
}

@keyframes fadeinshort {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeinlong {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.welcomeEnter {
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    padding-top: 20px;
    color: #edf6f9;
    text-align: center;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.welcomeH3 {
    color: #edf6f9;
    animation-name: fadeinlong, pulse;
    animation-duration: 4s, 1500ms;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 4s;
}

.welcomeImg {
    object-fit: fill;
    height: 20vh;
    width: 100%;
    border-radius: 3px;
}

.welcomeFoodImg,
.welcomeExpImg,
.welcomeLikeImg,
.welcomePostImg {
    padding: 10px;
    border-radius: 3px;
    margin: 10px 10px;
}

.welcomeFoodImg {
    background-color: purple;
}

.welcomeExpImg {
    background-color: purple;
}

.welcomeLikeImg {
    background-color: purple;
}

.welcomePostImg {
    background-color: purple;
}





.welcomeLogo {
    display: none;
}

@media (min-width: 400px) {
    .welcomeTitle {
        font-size: 3rem;
    }
}

@media (min-width: 600px) {
    .welcomeContainer {
        display: grid;
        grid-template-columns: 0.1fr 0.4fr 40px 0.4fr 0.1fr;
        grid-template-rows: 0.4fr 0.1fr 0.4fr 40px;
        height: 100%;
        
    }

    .welcomeTitleContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: static;
        top: auto;
        left: auto;
        transform: none;
        color: black;
        grid-row: 2;
        grid-column: 1 / 6;
    }

    .welcomeTitle {
        font-size: 3rem;
        margin-bottom: auto;
    }

    .welcomeH3 {
        animation-name: fadeinlong, pulse;
        animation-duration: 4s, 1500ms;
        animation-iteration-count: 1, infinite;
        animation-delay: 0s, 4s;
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
        font-size: 1.3rem;
        
    }

    .welcomeImg {
        object-fit: fill;
        height: 20vh;
        width: 350px;
        border-radius: 3px;
        border: 2px solid white;
    }

    .welcomeFoodImg,
    .welcomeExpImg,
    .welcomeLikeImg,
    .welcomePostImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        border: 2px solid white;
        border-radius: 5px;
        padding: 5px;
        margin: 10px 20px;
        color: white;
    }

    .welcomeFoodImg {
        background-color: purple;
        grid-row: 1;
        grid-column: 2;
    }

    .welcomeExpImg {
        background-color: purple;
        padding: 10px;
        border-radius: 3px;
        
        grid-row: 1;
        grid-column: 4;
    }

    .welcomeLikeImg {
        background-color: purple;
        grid-row: 3;
        grid-column: 2;
    }

    .welcomePostImg {
        background-color: purple;
        grid-row: 3;
        grid-column: 4;
    }


    .welcomeText {
        display: flex;
        flex-direction: column;
    }
}